@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #f2f3ff !important;
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden !important;
}

.fit-content {
  width: fit-content;
}

.ant-layout {
  min-height: 100vh !important;
  height: 100% !important;
}
